* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* header */

header {
    width: 100%;
    padding: 20px;
    height: 100%;
}

.header-top {
    width: 100%;
    line-height: 50px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logo-img img {
    width: 74px;
    height: 50px;
}

.logo-txt {
    margin-left: 10px;
    width: 30%;
    color: #828589;
}


/* header top rigth */

.favicon {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.fas.fa-bars {
    height: 31px;
    line-height: 43px;
    margin-right: 20px;
    font-size: 25px;
}

.btn {
    width: 100px;
    border-radius: 7px;
    background-color: #1A73E8;
    color: aliceblue;
}


/* fine header top */


/* header button */

.header-bottom {
    width: 100%;
    height: 35px;
    line-height: 47px;
    border-bottom: 1px solid #CBCBCB;
}

.link ul {
    list-style: none;
}

.link li {
    display: inline;
    margin-left: 20px;
}

.link a {
    color: #8E9094;
    text-decoration: none;
}

.last {
    border-bottom: 1px solid blue;
}

a.last-l {
    color: #3367D6;
}


/* fine header */


/* main */

main {
    height: 700px;
}


/* footer */

footer {
    background-color: #F5F5F5;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

footer .container {
    display: flex;
}

.container .link {
    width: 80%;
}

.container .link a {
    color: #8E9094;
    text-decoration: none;
    font-size: 15px;
}

footer-dx {
    width: 20%;
}